# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Redis
dump.rdb

# Runtime reports
reports/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Locust
.locust/